.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 56px;

  @include viewport--lg {
    padding: 0 32px;
  }

  @include viewport--md {
    padding: 0 16px;
  }

  @include viewport--sm {
    padding: 0 8px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
