// Colors
//---------------------------------

// Default

$color-default-black:           #000000;
$color-default-white:           #ffffff;
$color-transparent:             rgba(0, 0, 0, 0);

// Base

$color-black:                   #00235e;
$color-white:                   #f2f2f2;
$color-blue:                    #00338a;

// Borders

$border-color-gray:             #e6eaf1;

// Typography

$font-family--:                   "", "Arial", sans-serif;

$font-color-black:                $color-black; //#00235e - use it for ctrl+f
$font-color-white:                $color-default-white; //#ffffff
$font-color-blue:                 $color-blue; //#00338a

// Background

$bg-black:                        $color-black; //#00235e
$bg-white:                        $color-white; //#f2f2f2
$bg-blue:                         $color-blue; //#00338a

// Gradient

$black-to-right:                  linear-gradient(90deg, rgba(0, 10, 42, 0.75) 0%, rgba(0, 10, 42, 0) 76.64%);

// Viewports
//---------------------------------

$viewport--sm:                   320px;
$viewport--md:                   768px;
$viewport--lg:                   1024px;
$viewport--xl:                   1400px;

// Animation
//---------------------------------

$transition-settings:            0.3s ease;

// Retina
//---------------------------------

$retina-dpi:                     144dpi;
$retina-dppx:                    1.5dppx;
